# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# hardhat
/artifacts
/cache
/typechain-types

# IDE
.idea
.vscode

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Logs
logs
*.log
npm-debug.log*

# Documentation and design files
uiuxdesign
vrf2.5.tx
duiuxdesign

# Mock contracts
contracts/mocks/VRFCoordinatorV2_5Mock.sol

# Local Netlify folder
.netlify
